/** {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2d3c49;
}

img, embed, 
object, video {
  max-width: 100%; 
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #DF302C;
  text-decoration: underline;
}

h1 {
  font-weight: 100;
  white-space: nowrap;
  font-size: 4em;
  margin: 0;
  text-align: right;    
}

h2 {
  font-weight: 300;
  font-size: 2em;
  margin: 0;
  color: #2E8AC1;
}

h3 {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
    text-align: right;
}

header { 
    width: 100%;
    padding-top: 20px;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 0.75em;
  width: 100%;    
}

article {
  align-items: center;
  width: 100%;      
  max-width: 50em;  
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.25s;
}    

article:last-of-type {
  margin-right: 0;
}

img {   
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

picture#banner img {
  margin: 0 0 2em 0;
  width: 100%;
  /*height: 530px;*/
}

.container {
  display: flex;
  flex-wrap: wrap;  
}

.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {    
  width: 100%;
  margin-bottom: 20px;
  display: flex;   
}

.trimmed {
  margin-bottom: 0;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66667%;
}

.col-10 {
    width: 83.33333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66667%;
}

.col-7 {
    width: 58.33333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66667%;
}

.col-4 {
    width: 33.33333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66667;
}

.col-1 {
    width: 8.33333%;
}

.col-offset-6 {
    margin-left: 50%;
}

.box { 
    width: 100%; 
    /*text-align: center;*/
    /*height: 100px;*/
}


.lime {
    background-color: #96af08;                    
} 

.logo {
  width: 100px;
  float: left;  
}

.intro, .projects {
  border-top: 5px solid #FC8431;  
}

#jumbotron {
  padding-top: 45px;
}

.project-name {
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
  font-size: 1.5em;  
}

.project-url {
  text-align: center;
  font-weight: 100;
  font-size: 1em;
}

.featured {
  padding-top: 10px;
}

/**/

@media screen and (min-width: 820px) {
  picture#banner img {
    height: 530px;
  }
}

@media screen and (max-width: 821px) {
  article {
    display: flex;
    flex-direction: column; 
  }

  .row {
    display: block;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  .col-4 {
    width: 100%;
  }

  .project-url {
    font-size: 0.75em;    
  }

  .logo {
    width: 54px;
  }

  footer {
    text-align: center;
  }

  p {
    font-size: 0.9em;
  }

  
}

/*@media screen and (min-width: 621px) and (max-width: 800px) {
  p {
    font-size: 0.9em;
  }
}*/

@media screen and (min-width: 822px) {  
  .col-4 {
    width: 33.3333%;
  }
}
